@import "config";

// ------------------------------------------------------------------ //
// -------------------------- GLOBAL RESET -------------------------- //
// ------------------------------------------------------------------ //
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// ------------------------------------------------------------------ //
// --------------------------    HEADER    -------------------------- //
// ------------------------------------------------------------------ //
#header {
  position: fixed;
  @include flex_align;
  flex-direction: row;
  background-color: transparent;
  height: auto;
  width: 100%;
  @include easeOut();
  z-index: 5;

  .logo {
    width: 55px;
    height: 55px;
    margin: 5px 0 0 2rem;

    img {
      width: 100%;
    }
  }
  //Black header background after scrolling is occured
  &.blk-header {
    background-color: #222;
    @include easeOut();
  }

  #header-nav {
    @include flex_align;
    justify-content: flex-end;
    width: 100%;

    .nav-links {
      margin: 8px;

      .link {
        display: inline-block;
        font-family: $font-ques;
        letter-spacing: 0.2px;
        margin-right: 20px;
        text-decoration: none;
        color: #fff;

        &:last-child {
          background-color: #ee5f5c;
          border-radius: 3px;
          font-family: $font-encode;
          font-weight: bold;
          font-size: 13px;
          padding: 13px 10px;
        }

        &:hover {
          color: $effect-color;
          @include easeOut;
        }

        &.order-btn:hover {
          cursor: pointer;
          background-color: darken(#ee5f5c, 35);
          color: #fff;
        }
      }
      //Dropdown button
      .follow-us-dropdown {
        display: inline-block;
        //Need relative for abs positioned dropdown menu
        position: relative;

        .follow-us {
          background: transparent;
          cursor: pointer;
          font-size: 16px;
          border: none;

          &:focus {
            outline-width: 0;
          }

          i {
            position: relative;
            bottom: 3px;
          }
        }
        //Dropdown content
        .follow-us-content {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 50px;
          right: -15px;
          background-color: white;
          width: 150px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          @include easeOut();

          a {
            display: block;
            text-decoration: none;
            font-family: $font-ques;
            color: #333;
            margin: 5px 0px;
            padding: 10px 0px 5px 15px;
            width: 100%;

            &:hover {
              @include easeOut();
              background: darken(white, 10);
            }
          }
          //Add this with JS event listeners
          &.show {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

// ------------------------------------------------------------------ //
// -------------------------- LANDING PAGE -------------------------- //
// ------------------------------------------------------------------ //

#landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: url(../img/landing_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  width: 100%;
  min-height: 100vh;

  .branding,
  .motto,
  .order-btn {
    animation-name: comeThrough;
    animation-duration: 2s;
    @include easeOut();
  }

  .branding {
    font-family: $font-mont;
    font-size: 70px;
    font-weight: 200;
    margin: 10rem 0 2rem 3rem;
  }

  .motto {
    display: inline-block;
    font-family: $font-encode;
    font-size: 25px;
    line-height: 2.1;
    margin: 0 3rem 1rem 3rem;
  }

  .order-btn {
    background: transparent;
    text-decoration: none;
    color: whitesmoke;
    font-family: $font-mont;
    border: 1px solid whitesmoke;
    border-radius: 18px;
    padding: 12px 14px;
    margin-left: 3rem;
    margin-bottom: 10rem;

    &:hover {
      cursor: pointer;
      color: #fff;
      border-color: #fff;
      @include easeOut();
    }
  }
}

// ------------------------------------------------------------------ //
// -------------------------- INFO SECTION -------------------------- //
// ------------------------------------------------------------------ //

#info-section {
  @include flex_col_align;
  justify-content: center;
  background-color: #459ae0;

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    width: 90%;
    margin: 10rem 0 8rem 0;

    .info-element {
      @include flex_col_align;
      justify-content: center;
      opacity: 0;
      color: darken(white, 5);
      text-align: center;
      padding: 20px;

      h3 {
        font-family: $font-ques;
        font-size: 22px;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }

      p {
        font-family: $font-encode;
        span {
          font-weight: bold;
        }
      }

      &.show {
        opacity: 1;
        @include easeOut();
      }

      @for $x from 1 through 4 {
        &:nth-child(#{$x}) {
          transition-delay: 0.1s * $x;
        }
      }
    }
  }
}

// ------------------------------------------------------------------ //
// -------------------------- NEWS SECTION -------------------------- //
// ------------------------------------------------------------------ //

#get-news {
  @include flex_col_align;
  min-height: 100vh;
  background-color: #eee;

  h2 {
    margin: 10rem 0 2rem 0;
    font-family: $font-mont;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
  }

  p {
    font-family: $font-encode;
    margin-bottom: 1rem;
  }

  #subscribe {
    margin-bottom: 10rem;

    #email-input {
      font-size: 16px;
      border: 1px solid grey;
      border-radius: 3px;
      width: 200px;
      height: 35px;
      padding: 10px;
    }

    #btn-subscribe {
      background-color: #459ae0;
      font-family: $font-encode;
      font-size: 16px;
      color: white;
      padding: 8px 10px;
      border: 1px solid #459ae0;
      border-radius: 3px;

      &:hover {
        background-color: darken(#459ae0, 17);
        @include easeOut();
      }
    }
  }
}

// --------------------------------------------------------------------------- //
// --------------------------    PRICING SECTION    -------------------------- //
// --------------------------------------------------------------------------- //

#pricing {
  @include flex_col_align;
  background-color: #eee;
  min-height: 100vh;
  width: 100%;

  #pricing-title {
    font-family: $font-mont;
    font-size: 3.5rem;
    font-weight: 200;
    margin: 150px 0px;
  }

  .price-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 25px;
    justify-content: space-evenly;
    width: 90%;
    margin-bottom: 50px;

    .price-element {
      @include flex_col_align;
      justify-content: center;
      background-color: #fff;
      text-align: center;

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 1px solid black;
        margin: 15px 0px;
      }

      h3 {
        font-family: $font-ques;
        font-weight: 200;
        font-size: 20px;
        font-weight: 200;
        margin: 10px 0px;
        width: 100%;

        @each $key, $color in $button-colors {
          &.#{$key}-price span {
            font-family: $font-encode;
            font-size: 14px;
            font-weight: bold;
            border-radius: 3px;
            background-color: $color;
            color: #fff;
            padding: 5px 7px;
            margin-left: 3px;
          }
        }
      }
      p {
        font-family: $font-encode;
        line-height: 1.5;
        margin: 5px 5px 15px 5px;

        span {
          font-weight: bold;
        }
      }
    }
  }
}

// --------------------------------------------------------------------------- //
// --------------------------    CONTACT SECTION    -------------------------- //
// --------------------------------------------------------------------------- //

#team-section,
#contact-us {
  @include flex_col_align;
}

#team-section {
  background-color: #459ae0;
  color: #fff;
  min-height: 60vh;

  .title {
    margin: 100px 0px 30px 0;
  }

  .team-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    grid-gap: 30px;
    width: 80%;
    margin-bottom: 50px;

    .team-element {
      @include flex_col_align;
      justify-content: center;
      font-family: $font-ques;
      text-align: center;

      img {
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin: 25px 0px;
      }
    }
  }
}

#contact-us {
  background-color: #eee;
  min-height: 50vh;
  color: #333;

  .title,
  p {
    font-family: $font-ques;
  }

  .title {
    margin: 200px 0 25px 0;
  }

  p {
    font-size: 30px;

    i {
      font-size: 20px;
    }

    a {
      text-decoration: none;
      color: #459ae0;

      &:hover {
        color: darken(#459ae0, 25);
        text-decoration: underline;
        @include easeOut;
      }
    }

    &:last-child {
      margin: 15px 0px 200px 0px;
    }
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 200;
  font-family: $font-mont;
}

// ------------------------------------------------------------------ //
// --------------------------    FOOTER    -------------------------- //
// ------------------------------------------------------------------ //

#main-footer {
  @include flex_align;
  background-color: #222;
  min-height: 20vh;

  .social-links {
    margin: 0 3rem 0 6rem;

    .footer-link {
      display: inline-block;
      color: #eee;
      text-decoration: none;
      font-size: 30px;
      margin: 10px;

      &:hover {
        color: #fdb630;
        @include easeOut();
      }
    }
  }

  .footer-text {
    color: #eee;
    font-family: $font-encode;
    margin: 1rem 6rem 1rem auto;

    p {
      margin: 3px 0 10px 0;
    }
  }
}

// -------------------------------------------------------------------------------//
// -------------------------- SECTION TRANSITION BUTTON --------------------------//
// -------------------------------------------------------------------------------//

.next-section {
  align-self: center;
  color: white;
  font-size: 2rem;
  margin: auto 0 2rem 0;
  height: 50px;
  animation-duration: 2s;
  animation-name: nextSection;
  animation-iteration-count: infinite;
}

// -------------------------------------------------------------------------------//
// ---------------------------------- ORDER FORM ---------------------------------//
// -------------------------------------------------------------------------------//

.form-div {
  position: fixed;
  @include flex_col_align;
  width: 100%;
  height: 100vh;
  z-index: 6;
  visibility: hidden;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.5s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;
  }

  #order-form {
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 3px 3px 25px 6px #444;
    width: 600px;
    @include easeOut;

    .form-title {
      display: flex;
      font-family: $font-mont;
      font-size: 20px;
      border-bottom: 1px solid darken(#eee, 20);
      padding: 15px 10px;

      span {
        font-size: 15px;
        margin: 0 5px 0 auto;
        opacity: 0.2;

        &:hover {
          opacity: 0.6;
        }
      }
    }
    .label {
      font-family: $font-encode;
      font-weight: bold;
      margin: 15px 0 5px 12px;
    }

    .form-input {
      font-size: 14px;
      border: 1px solid grey;
      border-radius: 3px;
      padding-left: 12px;
      margin: 0 12px 0 12px;
      height: 35px;
    }

    .submit-btn {
      align-self: flex-start;
      background-color: #ee5f5c;
      color: #fff;
      font-family: $font-ques;
      font-size: 20px;
      border: none;
      border-radius: 5px;
      padding: 13px 12px;
      margin: 15px 0 15px 12px;
      &:hover {
        cursor: pointer;
      }
    }
    &.show {
      animation-name: slideForm;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      @include easeOut;
    }
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

@import "mobile";
